{% extends 'layout.html.twig' %}

{% block body %}
    <h1 class="centered">{{ 'STUFF'|trans }}</h1>
    <hr/>
    <br/>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Barber'|trans }}</th>
                <th>{{ 'Enabled'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{% if user.enabled %}{{ 'Enabled'|trans }}{% else %}{{ 'Disabled'|trans }}{% endif %}</td>
                <td style="width:30px;">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_user_edit', { 'id': user.id }) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('admin_user_new') }}">{{ 'Add a stuff member'|trans }}</a>
{% endblock %}
